body {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	font-size: 162.5%;
	background-size: cover;
	height: 100%;
	color: navy;
}

header,
main {

	font-size: 1.7em;
}

header {

	text-align: center;

}

header h1 {
	color: cyan;
	font-size: 1.7em;
}

footer {
	font-size: 0.9em;
	text-align: center;
	color: black;
	padding: 30px;
}

main p {
	font-size: 2.0em;
}

#poem {
	padding: 0px;
	text-align: center;
    	font-family: 'Sacramento', cursive;
	color: navy;
}

.what {
	font-family: 'Sacramento', cursive;
	font-size: 2.0em;
}
